<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1>TEST 2506 </H1>
<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>
<% @voitures.each do |voiture|%>
<%= voiture.marque %>
<%= voiture.modele %>
<%= voiture.prix %>
<%= voiture.photo %>
<%= end %>
