<div id="<%= dom_id voiture %>">
  <p>
    <strong>Marque:</strong>
    <%= voiture.marque %>
  </p>

  <p>
    <strong>Modele:</strong>
    <%= voiture.modele %>
  </p>

  <p>
    <strong>Annee:</strong>
    <%= voiture.annee %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= voiture.description %>
  </p>

  <p>
    <strong>Annee:</strong>
    <%= voiture.annee %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= voiture.prix %>
  </p>

  <p>
    <strong>User:</strong>
    <%= voiture.user_id %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= voiture.photo %>
  </p>

<%= image_tag voiture.image %>
</div>
