<p style="color: green"><%= notice %></p>

<div class="relative bg-white">
  <div class="mx-auto max-w-7xl lg:grid lg:grid-cols-12 lg:gap-x-8 lg:px-8">
    <div class="px-6 pb-24 pt-10 sm:pb-32 lg:col-span-7 lg:px-0 lg:pb-56 lg:pt-48 xl:col-span-6">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <%# <img class="h-11" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company"> %>
        <div class="hidden sm:mt-32 sm:flex lg:mt-16">
          <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-500 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            Trouvez les meilleures voitures sur Carsport.com <span class="absolute inset-0" aria-hidden="true"></span> <span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
        <h1 class="mt-24 text-4xl font-bold tracking-tight text-gray-900 sm:mt-10 sm:text-6xl">Carsport.com location de voitures d'élite</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">Porsche, Ferrari, lamborghini, les meilleurs voitures sont ici  </p>
        <div class="mt-10 flex items-center gap-x-6">
          <a href="#touscars" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Nos véhicules</a>
          <%# <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Nos véhicules <span aria-hidden="true">→</span></a> %>
        </div>
      </div>
    </div>
    <div class="relative lg:col-span-5 lg:-mr-8 xl:absolute xl:inset-0 xl:left-1/2 xl:mr-0">
      <%# <img class="aspect-[3/2] w-full bg-gray-50 object-cover lg:absolute lg:inset-0 lg:aspect-auto lg:h-full" src="
      ferrari.jpg" alt=""> %>
      <%= image_tag "ferrari", class:"aspect-[3/2] w-full bg-gray-50 object-cover lg:absolute lg:inset-0 lg:aspect-auto lg:h-full" %>

    </div>
  </div>
</div>
<%# With angled image on right
Requires JS %>

<%# <div id="voitures"> %>



<div class="bg-white" id="touscars">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-xl font-bold text-gray-900">Tous les véhicules disponibles</h2>

    <div class="mt-8 grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
      <% @voitures.each do |voiture| %>
        <div>
          <div class="relative">

            <div class="relative h-72 w-full overflow-hidden rounded-lg">
          <% if voiture.image.nil? %>
              <%= image_tag "404_image", class: "h-full w-full object-cover object-center" %>
            <% else %>
            <%= image_tag voiture.image, class: "h-full w-full object-cover object-center" %>
              <%end  %>
            </div>

            <div class="relative mt-4">
              <h3 class="text-sm font-medium text-gray-900"><%= voiture.marque %></h3>
              <p class="mt-1 text-sm text-gray-500"><%= voiture.modele %></p>
            </div>
<%= link_to voiture_path(voiture), class: "absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4" do%>
            <div>

              <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50"></div>
              <p class="relative text-lg font-semibold text-white"><%= voiture.prix %> € / jour</p>
            </div>
            <% end %>
          </div>

          <div class="mt-6">
            <%# <a href="#" class="relative flex items-center justify-center rounded-md border border-transparent bg-gray-100 px-8 py-2 text-sm font-medium text-gray-900 hover:bg-gray-200">Booking<span class="sr-only">, Zip Tote Basket</span></a> %>
            <%= link_to "Réserver", voiture_path(voiture), class:"relative flex items-center justify-center rounded-md border border-transparent bg-gray-100 px-8 py-2 text-sm font-medium text-gray-900 hover:bg-gray-200"  %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Un service proche de vous </h2>
      <dl class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2">
        <div>
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>
            </div>
            Assurance
          </dt>
          <dd class="mt-1 text-base leading-7 text-gray-600">Votre réservation automatiquement couverte par notre Assurance William CARE +.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
              </svg>
            </div>
            Des voitures exclusives
          </dt>
          <dd class="mt-1 text-base leading-7 text-gray-600">Trouvez le nouveau Tiguan sport en quelques clics .</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z" />
              </svg>
            </div>
            Meilleur Tarif
          </dt>
          <dd class="mt-1 text-base leading-7 text-gray-600">Des vehicules d'exception à partir de 50€ par jour </dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
              </svg>
            </div>
            Une communauté de passionnés
          </dt>
          <dd class="mt-1 text-base leading-7 text-gray-600">Rencontrez William, Marion Romain passionnés par les véhicules, gratuitement.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
<%# <% current_user_car.each do |car | %>
<%# <%= car.modele %>
<%# <% end  %>
