<!DOCTYPE html>
<html>
  <head>
    <title>Louetacaisse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <%= render 'layouts/navbar' %>
     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
    <div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="text-center">
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Le meilleur site au monde</h2>
        <p class="mt-4 text-lg leading-8 text-gray-300">Le plus grand choix de véhicules.</p>
      </div>
      <dl class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col bg-white/5 p-8">
          <dt class="text-sm font-semibold leading-6 text-gray-300">Voitures disponibles</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-white">8,000+</dd>
        </div>
        <div class="flex flex-col bg-white/5 p-8">
          <dt class="text-sm font-semibold leading-6 text-gray-300">Des frais minimes</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-white">3%</dd>
        </div>
        <div class="flex flex-col bg-white/5 p-8">
          <dt class="text-sm font-semibold leading-6 text-gray-300">Satisfaction client</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-white">99.9%</dd>
        </div>
        <div class="flex flex-col bg-white/5 p-8">
          <dt class="text-sm font-semibold leading-6 text-gray-300">Revenu moyen </dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-white">$1M</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
  </body>
</html>
